* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Karla";
  font-size: 18px;
}
.wrapper {
  background-image: url(../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
}
.wrapper-overlay {
  background-color: rgba(58, 58, 58, 0.5);
}
.container {
  max-width: 1130px;
  display: block;
  margin: auto;
}
.hidden {
  display: none;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.mt-24 {
  margin-top: 24px;
}
.button {
  min-width: 200px;
  height: 44px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-primary {
  font-family: "Karla";
  color: #ffffff;
  background-color: #da6f5b;
  border: 1px solid #da6f5b;
}
.button-primary:hover {
  color: #da6f5b;
  background-color: #ffffff;
  border-color: #da6f5b;
}
.button-secondary {
  font-family: "Myriad Pro";
  color: #da6f5b;
  background-color: #ffffff;
  border: 1px solid #da6f5b;
}
.button-secondary:hover {
  color: #ffffff;
  background-color: #da6f5b;
  border-color: #da6f5b;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.woff2") format("woff2"), url("../fonts/Karla-Regular.woff") format("woff"), url("../fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Karla Italic";
  src: url("../fonts/Karla-Italic.woff2") format("woff2"), url("../fonts/Karla-Italic.woff") format("woff"), url("../fonts/Karla-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display Bold";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ovo";
  src: url("../fonts/Ovo.woff2") format("woff2"), url("../fonts/Ovo.woff") format("woff"), url("../fonts/Ovo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding-top: 22px;
  padding-bottom: 85px;
}
.header li {
  list-style: none;
}
.header a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}
.nav-item {
  margin-right: 49px;
  padding: 4px 10px 6px 10px;
}
.nav-item:nth-child(3) {
  flex-grow: 1;
}
.nav-item:last-child {
  margin-right: 0px;
}
.nav-item.active {
  background-color: #2d2d35;
}
.nav-item:last-child.active {
  background-color: transparent;
}
.nav-link {
  font-family: "Karla";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.nav-link:hover {
  color: #ffffff;
}
/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
    background-color: #2d2d35;
  }
  .nav-item {
    margin: 0px 0px 25px 0px;
  }
  .nav-item:nth-child(1) {
    order: 1;
  }
  .nav-item:nth-child(2) {
    order: 2;
  }
  .nav-item:nth-child(3) {
    order: 3;
    margin-bottom: 60px;
  }
  .nav-item:last-child {
    margin-bottom: 60px;
  }
  .nav-item:last-child.active {
    border-bottom: no;
  }
  .nav-item.active {
    border-bottom: 1px solid #fff;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .button-primary,
  .button-secondary {
    font-size: 16px;
  }
  .nav-link {
    font-size: 24px;
    font-family: "Myriad Pro";
  }
  .nav-logo img {
    width: 100px;
    height: auto;
  }
  .button {
    max-width: 210px;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .button.button-primary {
    min-width: 110px;
  }
}
/* END OF MEDIA QUERY */
.main {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  font-family: "Playfair Display Bold";
  font-size: 72px;
  margin-bottom: 25px;
  line-height: 1.2;
  max-width: 800px;
}
.main-subtitle {
  font-size: 18px;
  max-width: 500px;
  font-weight: 400;
  line-height: 24px;
}
.main-arrow {
  display: block;
  margin: 25px auto;
}
.arrow-transform {
  transform: rotate(180deg);
}
.button-container {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .main {
    padding: 0px 16px;
  }
  .main-title {
    font-size: 36px;
  }
  .main-subtitle {
    font-size: 16px;
  }
}
/**
 * Custom Form Select Styles.
 * Used to create custom form select menus from regular input fields.
 */
.form {
  margin: 0px 0px 50px 0px;
  padding: 34px 43px 40px 43px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.form .form-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 17px;
}
.form .select {
  display: block;
  position: relative;
  vertical-align: middle;
  text-align: left;
  min-width: 324px;
}
.form .select > span {
  display: block;
  color: #636363;
}
.form .select > input {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 10px 28px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  height: 58px;
  border: 1px solid rgba(72, 73, 74, 0.9);
  border-radius: 7px;
  line-height: 16px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  user-select: none;
  background-color: rgba(72, 73, 74, 0.9);
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
  background-position: calc(100% - 32.5px) center, calc(100% - 28px) center;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  transition: border-color 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.form .select > input:hover,
.form .select > input:focus,
.form .select > input:active,
.form .select > input.active {
  border-color: #069;
}
.form .select > input:focus,
.form .select > input:active,
.form .select > input.active {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
}
.form .select > input:focus ~ ul,
.form .select > input:active ~ ul {
  max-height: 200px;
  z-index: 999;
}
.form .select > ul {
  display: block;
  position: absolute;
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 0px;
  right: 0px;
  top: 100%;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-height: 0;
  z-index: 998;
  transition: max-height 300ms ease-in-out;
}
.form .select > ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 5px 28px;
  color: #2d2d35;
  background-color: #ffffff;
  font-size: 18px;
  height: 40px;
  vertical-align: middle;
}
.form .select > ul li:hover {
  background-color: #f2f2f2;
}
.form .select > ul li:focus,
.form .select > ul li:active,
.form .select > ul li.active {
  background-color: #f0f0f0;
}
.form .select > ul li + li {
  border-top: 1px solid #d7d7d7;
}
.form .select > select {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
@media only screen and (max-width: 768px) {
  .form {
    padding: 34px 18px 40px 18px;
  }
  .form .select {
    min-width: unset;
    width: 100%;
    margin-bottom: 17px;
  }
  .form .select > input {
    height: 45px;
    font-size: 16px;
  }
  .form .space-between {
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  .form .select {
    min-width: inherit;
    margin-right: 10px;
  }
  .form .select:last-child {
    margin-right: 0px;
  }
}
.footer {
  padding: 75px 0px 80px 0px;
}
.footer-title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 48px;
  color: #2d2d35;
  text-align: center;
  margin-bottom: 40px;
}
.footer-card .card {
  padding: 35px 70px;
  max-width: 730px;
  width: 100%;
  box-shadow: 0px 0px 20px -7px rgba(88, 88, 88, 0.2);
}
.footer-card .card p {
  font-family: "Karla Italic";
  font-size: 18px;
  color: #5b5e6b;
  text-align: center;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.footer-card .card hr {
  margin: 15px 10px;
  border-color: #f1f5f7;
  border-style: solid;
}
.footer-card .card .author {
  font-family: "Ovo";
  font-weight: 400;
  font-size: 18px;
  color: #2d2d35;
}
.splide .splide__pagination {
  bottom: -50px;
  width: 10%;
  display: none;
}
.splide .splide__pagination__page {
  width: 11px;
  height: 11px;
  margin-right: 0px;
}
.splide .splide__pagination li {
  margin-right: 18px;
}
.splide .splide__pagination li:last-child {
  margin-right: 0px;
}
.splide .splide__pagination__page.is-active {
  width: 13px;
  height: 13px;
  border: 2px solid #333333;
  transform: none;
}
.splide .splide__arrow.splide__arrow--next,
.splide .splide__arrow.splide__arrow--prev {
  background: none;
}
.splide .splide__arrow.splide__arrow--prev {
  left: 29%;
}
.splide .splide__arrow.splide__arrow--next {
  right: 29%;
}
.splide .splide__arrow svg {
  width: 24px;
  height: 60px;
  fill: #6c6c72;
}
.splide .splide__arrow {
  top: 50%;
  transform: rotate(180deg);
}
.footer-container {
  display: flex;
  justify-content: center;
}
.footer-content {
  max-width: 730px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 35px;
}
.footer-pagination {
  font-family: "Ovo";
  font-size: 24px;
  color: #2d2d35;
}
@media only screen and (max-width: 768px) {
  .footer-title {
    font-size: 36px;
  }
  .footer-card .card {
    max-width: 289px;
  }
  .footer-card .card p,
  .footer-card .card .author {
    font-size: 16px;
  }
  .splide .splide__arrow.splide__arrow--prev {
    left: 2px;
  }
  .splide .splide__arrow.splide__arrow--next {
    right: 2px;
  }
  .footer-container {
    padding: 0px 16px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-pagination {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 1199px) {
  .header {
    padding: 22px 16px 85px 16px;
  }
}
